@{

    Layout = "~/Views/Shared/_Layout.cshtml";
@using IsTakipSistemi.Data;
    varlik vari = new varlik();
    List<SelectListItem> Birim = new List<SelectListItem>();
    List<BirimAYRINTI> hepsi = vari.BirimAYRINTIler.ToList();
    for (int i = 0; i < hepsi.Count; i++)
    {
        SelectListItem yeni = new SelectListItem();
        yeni.Text = hepsi[i].birimAdi ;
        yeni.Value = hepsi[i].birimID.ToString();
        
        Birim.Add(yeni);
    

}

  
    List<SelectListItem> durum = new List<SelectListItem>();
    
    for (int i = 0; i <= 1; i++)
    {
        SelectListItem yeni = new SelectListItem();
        if(i==0)
            yeni.Text = "Hayır";
       else
            yeni.Text = "Evet";
        yeni.Value = i.ToString();

        durum.Add(yeni);


    }
}
@model IsTakipSistemi.Models.PersonelModel
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<h1 style="color:brown">Personel Ekle</h1>
<hr />
<div class="row">
    <div class="col-6">
        <a href="@String.Format("/Personel/Index")" class="float-start" style="margin-top:5px; margin-left:5px">
            <i class="fa fa-arrow-left h1 mb-0 text-primary" style="font-size:16px"><span style="margin-left:10px; ">Geri Dön</span></i>
        </a>
    </div></div>
<form id="formKayit" name="formKayit" autocomplete="off">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">

            <div class="form-group">
                <label for="member-name" class="col-form-label">Ad</label>
                @Html.TextBoxFor(m => m.kartVerisi.adi, new { @class = "form-control", maxlength = "50", placeholder = "Ad" })
            </div>
            <div class="form-group">
                <label for="member-name" class="col-form-label">Soyad</label>
                @Html.TextBoxFor(m => m.kartVerisi.soyadi, new { @class = "form-control", maxlength = "50", placeholder = "Soyad" })
            </div>
            <div class="form-group">
                <label for="member-name" class="col-form-label">TC No</label>
                @Html.TextBoxFor(m => m.kartVerisi.TcNo, new { @class = "form-control", maxlength = "11", placeholder = "TC No" })
            </div>
            <div class="form-group">
                <label for="member-name" class="col-form-label">Telefon</label>
                @Html.TextBoxFor(m => m.kartVerisi.telefon, new { @class = "form-control", maxlength = "11", placeholder = "Telefon" })
            </div>
            <div class="form-group">
                <label for="member-name" class="col-form-label">Personel Birimi</label>
                @Html.DropDownListFor(m => m.kartVerisi.i_birimID, Birim, "Lütfen Seçiniz", new { @class = "form-control select2", id = "Birim" })
            </div>
            
            <div class="form-group">
                <label for="member-name" class="col-form-label">İzinli mi?</label>
                @Html.DropDownListFor(m => m.kartVerisi.izinlimi, durum, "Lütfen Seçiniz", new { @class = "form-control select2", id = "İzinlimi" })
            </div>

            <div class="form-group">
                <label for="city" class="col-form-label">Giriş Tarihi</label>
                @Html.TextBoxFor(m => m.kartVerisi.girisTarihi, "{0:yyyy-MM-dd HH:mm}", new { type = "datetime-local", @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="city" class="col-form-label">Ayrılış Tarihi</label>
                @Html.TextBoxFor(m => m.kartVerisi.ayrilisTarihi, "{0:yyyy-MM-dd HH:mm}", new { type = "datetime-local", @class = "form-control" })
            </div>




            @Html.HiddenFor(model => model.kartVerisi.personelID)
           
        </div>
        <hr />
        <button type="button" onclick="ekle()" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
            Kaydet
        </button>
    </div>
</form>
<script>
    function ekle() {
        var valdata = $("#formKayit").serialize();
        console.table(valdata);
        $.ajax({
            url: "/Personel/Kaydet/",
            type: "Post",
            data: valdata,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (response) {
                if (!response.success) {
                    Swal.fire(
                        'Hata',
                        response.message,
                        'error'
                    );
                    return false;
                }
                else {
                    Swal.fire(
                        'Başarılı',
                        response.message,
                        'success'
                    ).then(function () {
                        var deger = String(document.getElementById("yenimi").value);
                        if (deger == "True") {
                            window.location.reload();
                        }
                    })
                }
            }
        });
    }
</script>
